<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">account_box</i>
            </div>
            <h4 class="card-title">User Information</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <label class="col-sm-2 col-form-label">Request #</label>
              <div class="col-sm-10 output">
                {{request?.RequestId}}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10 output">
                {{request?.ClientName}}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 col-form-label">Phone</label>
              <div class="col-sm-10 output">
                {{request?.Phone}}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10 output">
                {{request?.Address}}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 col-form-label">Notes</label>
              <div class="col-sm-10 output">
                <mat-form-field>
                  <textarea matInput cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="10" >
                                                {{request?.Notes}}
                                            </textarea>
                </mat-form-field>
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-12">
                <legend>Location</legend>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div id="regularMap" class="map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">list</i>
            </div>
            <h4 class="card-title">Request Information</h4>
          </div>
          <div class="card-body">
            <ul class="mdc-list">
              <li *ngFor="let cart of Cart">
                <div class="row" style="margin-bottom: 30px;">
                  <div class="col-md-5">
                    <label class="col-form-label"  style="font-weight: bolder;font-size:x-large">Seller Name </label>
                  </div>
                  <div class="col-md-7">
                    <label class="col-form-label" style="color: black;font-weight: bolder;font-size:x-large">{{cart?.SellerDetails?.Name}}</label>
                  </div>
                </div>
                <ul style="padding-left: 20px;">
                  <li class="mdc-list-item" *ngFor="let item of cart.RequestItems">
                    <div class="row">
                       <div class="col-md-4">
                         <img *ngIf="item.ColorImage"  src='{{imagePath + item.ColorImage}}' />
                         <img *ngIf="!item.ColorImage"  src='{{imagePath + item.ItemImage}}' />
                        <img *ngIf="item.ColorImage == null && item.ItemImage == null" src="../../../../assets/img/image_placeholder.jpg" />
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                          <label class="col-md-12" style="color: black;font-weight: bold;font-size:16px;">{{item.ItemName}}</label>
                          <label class="col-md-12" style="color: black;font-weight: bold;font-size:16px;">{{item.Price}}</label>
                          <label class="col-md-12" style="color: black;font-weight: bold;font-size:16px;">Quantity: {{item.Quantity}}</label>
                        </div>
                        <!-- <div class="row">
                            <label class="col-md-4">Color  </label>
                            <label class="col-md-3"> {{item.ColorName}}</label>
                        </div> -->
                        <!-- <div class="row">
                         <div class="col-md-7">
                            <img src="../../../../assets/img/image_placeholder.jpg" />
                         </div>
                        </div> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3" *ngIf="item.ColorName && item.Size"   style="font-weight: bold;font-size:16px;">{{item.ColorName}}|{{item.Size}}</div>
                      <div class="col-md-3" *ngIf="item.ColorName == null || item.Size == null "   style="font-weight: bold;font-size:16px;">{{item.ColorName}}{{item.Size}}</div>
                    </div>
                    <hr>
                  </li>
                </ul>
                <hr style="border: 0;
                margin-top: 60px;
                height: 1px;
                background: #333;
                background-image: linear-gradient(to right, #ccc, #333, #ccc);">
              </li>
            </ul>
            <div class="row">
              <div class="col-md-4">
                <h3 class="mdc-list-group">Total </h3>
              </div>
              <div class="col-md-3">
                <h3 class="mdc-list-group__subheader">{{request?.Total}}</h3>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <h3 class="mdc-list-group">Current Status </h3>
                </div>
                <div class="col-md-6">
                  <h3 class="mdc-list-group__subheader">{{request?.RequestName}}</h3>
                </div>
              </div>
            <div class="row">
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Change Request Status
                </button>
                <div class="dropdown-menu dropdown-menu-left">
                  <button class="dropdown-item" type="button" *ngFor="let status of Statuses" data-toggle="modal"
                    data-target="#myModal10" (click)="showconfermationmessage(request.ID,status.ID)">{{status.NameEN}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-mini modal-primary" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-small">
    <div class="modal-content">
      <div class="modal-header">
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to do this?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button mat-raised-button type="button" class="btn btn-link" data-dismiss="modal">Never mind</button>
        <button mat-raised-button type="button" class="btn btn-success btn-link" data-dismiss="modal" (click)="ChangeRequestStatus()">Yes
          <div class="ripple-container"></div>
        </button>
      </div>
    </div>
  </div>
</div>
