<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form [formGroup]="form" class="form-horizontal">
            <div class="card-header card-header-primary card-header-icon">
              <h4 class="card-title">Subcategory Details</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <mat-form-field>
                    <input matInput [formControl]="ennameFormControl" required placeholder="English Name ">
                    <mat-error *ngIf="ennameFormControl.invalid && isSubmitted">English Name is Required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <mat-form-field>
                    <input matInput [formControl]="arnameFormControl" placeholder="Arabic Name " required>
                    <mat-error *ngIf="arnameFormControl.invalid && isSubmitted">Arabic Name is Required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                    <mat-form-field>
                  <mat-select placeholder="Category" [formControl]="mainCategoryControl">
                    <mat-option *ngFor="let category of categories" [value]="category.ID">
                      {{category.NameEn}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="mainCategoryControl.invalid && isSubmitted">Category is Required</mat-error>
                </mat-form-field>
                </div>
              </div>
              <br/>
              <div class="row">
                  <div  class="col-md-9">
                      <img *ngIf="!fileToUpload &&  elementImage"  height="200px" width="200px" src='{{imagePath + elementImage}}' />
                      <img *ngIf="fileToUpload"  height="200px" width="200px" [src]='upluadimage' />
                    </div>
              </div>
              <br/>
              <div class="row">
               <div class="col-md-2">
                  <button mat-raised-button type="button" (click)="imgFileInput.click()">
                      <span >Add a photo</span>
                    </button>
               </div>
                <input hidden type="file" #imgFileInput (change)="previewImage($event.target.files)" />
              </div>
                <mat-error style="font-size: 75%;" *ngIf="!this.ID &&!fileToUpload && isSubmitted">Image is Required</mat-error>
              <div class="row">
                <div class="col-md-12">
                  <button mat-raised-button type="submit" class="btn btn-rose btn-fill green-right" (click)="addUpdate()">
                    Save
                  </button>

                  <!-- To do  add / update -->
                </div>
              </div>
            </div>
            <!-- end content-->
          </form>
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
