<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary card-header-icon">
                <!-- <div class="card-icon">
                  <i class="material-icons">list</i>
                </div> -->
                <h4 class="card-title">Area Details</h4>

              </div>
                <div class="card-body">
                  <form (ngSubmit)="AddUpdateArea()" #form>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="English Name" [formControl]="enNameFormControl">
                          <mat-error *ngIf="enNameFormControl.hasError('required')">
                              English Name is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Arabic Name" [formControl]="arNameFormControl">
                            <mat-error *ngIf="arNameFormControl.hasError('required')">
                                Arabic Name is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                          <button mat-raised-button type="submit" class="btn btn-rose btn-fill right-green">Save</button>
                  </form>

                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
