
<h1 mat-dialog-title>Add Descreption Item</h1>
<div mat-dialog-content>
  <div class="row">
    <label class="col-md-2 col-form-label">Name *</label>
    <div class="col-md-2">
      <mat-form-field>
        <input matInput [formControl]="nameFormControl" required>
        <mat-error *ngIf="nameFormControl.invalid"> Name is Required</mat-error>
      </mat-form-field>
    </div>
    <label class="col-md-2 col-form-label">Value *</label>
    <div class="col-md-2">
      <mat-form-field>
        <input matInput [formControl]="valueFormControl" required>
        <mat-error *ngIf="valueFormControl.invalid">Value is Required</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>