<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title inline-block">Items</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <a class="float-right card-title" routerLink="/Pages/Item/View" routerLinkActive="active">
                  <button class="btn green">Add New</button></a>
              </div>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
              <ng-container matColumnDef="Image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                <td mat-cell *matCellDef="let element">
                  <img height="100px" width="100px" src='{{imagePath + element.ItemImages[0]?.Image}}' /> </td>
              </ng-container>

              <ng-container matColumnDef="English Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> English Name </th>
                <td mat-cell *matCellDef="let element"> {{element.ItemInfo.Name}} </td>
              </ng-container>


              <ng-container matColumnDef="Arabic Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Arabic Name </th>
                <td mat-cell *matCellDef="let element">{{element.ItemInfo.Name}} </td>
              </ng-container>

              <ng-container matColumnDef="Created At">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
                <td mat-cell *matCellDef="let element">{{element.ItemInfo.Name}} </td>
              </ng-container>

              <ng-container matColumnDef="Seller Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller Name </th>
                <td mat-cell *matCellDef="let element">{{element.ItemInfo.Name}} </td>
              </ng-container>

              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                  <a [routerLink]="['/Pages/Item/View']" [queryParams]="{ID: element.ItemInfo.ID}" class="btn btn-link btn-warning btn-just-icon edit"><i
                      class="material-icons">dvr</i></a>
                  <app-grid-delet-btn [ID]="element.ItemInfo.ID" (onConfirm)="DeleteItem($event)"></app-grid-delet-btn>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="resultsLength" [pageSizeOptions]="[10, 15, 20]" 
              (page)="pageEvent = loadNextPrevious($event)"></mat-paginator>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>