.btn-right{
    float :right
}
.example-container {
    position: relative;
  }
  
  .example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  mat-grid-tile {
    border-right-width: 1px;
  }