<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form [formGroup]="form" class="form-horizontal">
            <div class="card-header card-header-primary card-header-icon">
              <h4 class="card-title">Category Details</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <mat-form-field>
                    <input type="text" [formControl]="ennameFormControl" matInput placeholder="English Name " required>
                    <mat-error *ngIf="ennameFormControl.invalid && isSubmitted">English Name is Required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <mat-form-field>
                    <input type="text" [formControl]="arnameFormControl" matInput placeholder="Arabic Name " required>
                    <mat-error *ngIf="arnameFormControl.invalid && isSubmitted">Arabic Name is Required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <img *ngIf="!fileToUpload &&  elementImage"  height="200px" width="200px" src='{{imagePath + elementImage}}' />
                <img *ngIf="fileToUpload"  height="200px" width="200px" [src]='upluadimage' />
              </div>
              <br/>
              <div class="row">
                <div class="col-md-2">
                    <button mat-raised-button type="button" (click)="imgFileInput.click()">
                        <span >Add a photo</span>
                      </button>
                </div>
                <input hidden type="file" #imgFileInput (change)="previewImage($event.target.files)" />
              </div>
              <mat-error style="font-size: 75%;" *ngIf="!this.ID &&!fileToUpload && isSubmitted">Image is Required</mat-error>
              <div class="row">
                <div class="col-md-12">
                  <button  mat-raised-button type="submit" class="btn btn-rose btn-fill right-green" (click)="addUpdate()">Save</button>
                </div>
              </div>
            </div>
            <!-- end content-->
          </form>
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
