<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <!-- <div class="card-icon">
                  <i class="material-icons">list</i>
                </div> -->
            <h4 class="card-title">Advertisement Details</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="AddUpdateAdvertisment()" #form>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="English Title" [formControl]="enTitleFormControl">
                <mat-error *ngIf="enTitleFormControl.hasError('required') && isSubmitted">
                  English Title is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Arabic Title" [formControl]="arTitleFormControl">
                <mat-error *ngIf="arTitleFormControl.hasError('required') && isSubmitted">
                  Arabic Title is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="English Desciption" [formControl]="enDescFormControl">
                <mat-error *ngIf="enDescFormControl.hasError('required') && isSubmitted">
                  English Desciption is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Arabic Desciption" [formControl]="arDescFormControl">
                <mat-error *ngIf="arDescFormControl.hasError('required') && isSubmitted">
                  Arabic Desciption is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <div *ngIf="elementImage">
                <img height="300px" width="100%" src='{{imagePath + elementImage}}' />
              </div>
              <br/>
              <button mat-raised-button type="button" (click)="imgFileInput.click()">
                <span *ngIf="!ID">Add a photo</span>
                <span *ngIf="ID">Update the photo</span>
              </button>
              <input hidden type="file" #imgFileInput (change)="previewImage($event.target.files)" />
              <mat-error style="font-size: 75%;" *ngIf="!this.ID &&!fileToUpload && isSubmitted">Image is <strong>required</strong></mat-error>

              <br />
              <!-- <img #imagepreview width="100px" height="100px"/> -->
              <br />
              <button *ngIf="!ID" mat-raised-button type="submit" class="btn btn-rose btn-fill">Add</button>
              <button *ngIf="ID" mat-raised-button type="submit" class="btn btn-rose btn-fill">Update</button>
            </form>

          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
