
<h1 mat-dialog-title>Add Size</h1>
<div mat-dialog-content>
  <div class="row">
    <label class="col-md-2 col-form-label">Value *</label>
    <div class="col-md-2">
      <mat-form-field>
        <input matInput [formControl]="sizeFormControl" required>
        <mat-error *ngIf="sizeFormControl.invalid">Value is Required</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>